<div class="container">

<div class="jumbotron mt-5 show-tour-card mw-50">
  <h1 class="form-title">{{tour.title}}</h1>
  <p class="form-inputs">{{tour.description}}</p>
  <hr class="my-4">
  <h1 class="form-title mt-3">Landmarks</h1>

<div class="d-flex flex-row flex-wrap ">
{{#each tour.landmarks}}
  <a class="btn btn-primary m-2" href="/landmark/{{id}}" role="button">{{title}}</a>
{{/each}}
    <form action="/tour/{{tour.id}}?_method=DELETE" method="post" class="d-inline m-2">
      <input type="submit" value="Delete" class="btn btn-danger">
    </form>
</div>

</div>

</div>